autopep8==1.5.4
bandit==1.6.2
bleach==3.2.1
bump2version==1.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-config-file==0.6.0
click-option-group==0.5.1
colorama==0.4.4
configobj==5.0.6
docutils==0.16
Flask==1.1.2
fuzzywuzzy==0.18.0
gitdb==4.0.5
GitPython==3.1.8
idna==2.10
iso8601==0.1.13
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==21.5.0
m3u8==0.7.1
MarkupSafe==1.1.1
packaging==20.7
Paste==3.5.0
pbr==5.5.0
pkginfo==1.6.1
pycodestyle==2.6.0
Pygments==2.7.2
pyparsing==2.4.7
python-engineio==3.13.2
python-socketio==4.6.0
PyYAML==5.3.1
readme-renderer==28.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
smmap==3.0.4
stevedore==3.2.2
tabulate==0.8.7
toml==0.10.1
tqdm==4.54.0
twine==3.2.0
urllib3==1.25.10
waitress==1.4.4
webencodings==0.5.1
Werkzeug==1.0.1
wheel
