[Unit]
Description=locast2dvr

[Service]
# Command to execute when the service is started
ExecStart=/home/user/bin/locast2dvr/locast2dvr_wrapper -c /home/user/.locast2dvr/config
