[Unit]
Description=locast2dvr

[Service]
# Command to execute when the service is started. Make sure the paths below exist and are correct!
ExecStart=/path/to/locast2dvr_wrapper.sh -c /path/to/locast2dvr/config

[Install]
WantedBy=default.target
